*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 0 0 0;
  font-family: system-ui, sans-serif;
  background: var(--body-bg);
}

header {
  background: black;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  color: white;
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-block: 16px;
}

h2 {
  text-align: center;
}

div {
  width: 100%;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 7px 0;
  gap: 10px;
  width: 80%;
}

.question-card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: hotpink;
  padding: 20px 20px 5px 20px;
  margin: 20px 20px 5px 20px;
  text-align: center;
  border-radius: 7px;
}

Element {
  color: #fff;
}
.question-card__bookmark {
  background: fixed;
  color: #000;
  border: none;
  position: absolute;
  right: 15px;
  top: -25px;
}
.question-card__bookmark span.bookmark-button {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWJvb2ttYXJrIj48cGF0aCBkPSJtMTkgMjEtNy00LTcgNFY1YTIgMiAwIDAgMSAyLTJoMTBhMiAyIDAgMCAxIDIgMnYxNnoiLz48L3N2Zz4=");
  width: 50px;
  height: 50px;
}
.question-card__bookmark span.bookmark-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.question-card__bookmark span.bookmark-button:hover {
  filter: invert(1);
  background-color: #fff;
}

.button {
  color: #fff;
  width: 50%;
  background-color: blue;
  text-align: center;
  height: 40px;
  border-radius: 7px;
}
.button:hover {
  color: green;
  background-color: darkblue;
}

.button-element {
  display: flex;
  text-align: center;
  margin: 10px;
}

.tags {
  align-items: flex-start;
}
.tags ul {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 1px 1px 1px 1px;
  margin: 10px 1px 5px 1px;
}
.tags li {
  background-color: green;
  color: white;
  padding: 5px;
  margin: 5px 3px 5px 5px;
  border-radius: 5px;
}
.tags li:hover {
  background-color: darkgreen;
  color: white;
  padding: 5px;
  margin: 4px 2px 4px 2px;
  border: 1px solid black;
}

footer {
  background: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-navigation ul {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding: 5px;
}

.footer-navigation li {
  padding: 5px;
  margin: 0px 0px 0px 0px;
}
.footer-buttons span {
  display: inline-block;
  vertical-align: middle;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
}
.footer-buttons span:hover {
  filter: invert(1);
  background-color: white;
}
.footer-buttons span.home-button {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWhvdXNlIj48cGF0aCBkPSJNMTUgMjF2LThhMSAxIDAgMCAwLTEtMWgtNGExIDEgMCAwIDAtMSAxdjgiLz48cGF0aCBkPSJNMyAxMGEyIDIgMCAwIDEgLjcwOS0xLjUyOGw3LTUuOTk5YTIgMiAwIDAgMSAyLjU4MiAwbDcgNS45OTlBMiAyIDAgMCAxIDIxIDEwdjlhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJ6Ii8+PC9zdmc+");
}
.footer-buttons span.show-bookmarks-button {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWJvb2ttYXJrIj48cGF0aCBkPSJtMTkgMjEtNy00LTcgNFY1YTIgMiAwIDAgMSAyLTJoMTBhMiAyIDAgMCAxIDIgMnYxNnoiLz48L3N2Zz4=");
}
.footer-buttons span.show-profil-button {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXVzZXIiPjxwYXRoIGQ9Ik0xOSAyMXYtMmE0IDQgMCAwIDAtNC00SDlhNCA0IDAgMCAwLTQgNHYyIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSI3IiByPSI0Ii8+PC9zdmc+");
}
